@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-gray-100 text-gray-900 m-0 font-serif;
    font-family: 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', sans-serif; 
  }
}
@layer utilities {
  .text-ellipsis {
    @apply overflow-hidden text-ellipsis whitespace-nowrap;
  }
}

@layer components {
  .wrapper {
    @apply max-w-[1440px] mx-auto px-4 sm:px-6 lg:px-8;
  }

  /* Navbar " */

  .navbar {
    @apply flex flex-row items-center justify-between h-16;
  }

  .navbar_logo {
    @apply flex flex-row gap-4
  }

  .navbar_ul {
    @apply flex flex-row items-center gap-4;
  }

   /* Home " */

  .home_section {
    @apply flex justify-center items-center h-[95vh]
  }

  .home_h1 {
    @apply flex justify-center items-center h-[90vh]
  }

  /* ScrollUp " */

  .scroll_up {
    @apply fixed bottom-6 right-6 bg-blue-600 text-white px-4 py-2 rounded-full shadow-lg hover:bg-blue-700 transition-all duration-300;
    z-index: 1000;
  }

  /* Footer */

  .footer {
    @apply text-white flex justify-center items-center
  }
}

.global_backfround_gradient {
  background: #000000;
  background: linear-gradient(90deg, rgba(50, 120, 110, 1) 0%, rgba(87, 199, 169, 1) 21%, rgba(41, 136, 171, 1) 61%, rgba(83, 178, 237, 1) 91%);
}